
<html>
    <head></head>
    <body>
        <div class="row">
            <ul>
                <li><a href='#' id='registerContact'>Register Contact</a></li>
                <li><a href='@Url.Action("SendAllMail", "Home")' id='sendEmail'>Send Email</a></li>
            </ul>
        </div>
    </body>
</html>
