<div class="row">
    <ul>
        <li><a href='@Url.Action("Index", "Contacts")' id='registerContact'>Register Contact</a></li>
        <li><input type="button" value="Send Email" onclick="location.href='@Url.Action("SendAllMail", "Home")'"/></li>
    </ul>
</div>
 
