
@{
    ViewBag.Title = "SendAllMail";
}
@{
    var isSuccess = ((bool)Model);
    if (isSuccess)
    {
        <h2>SendAllMaill </h2><h3>Success</h3>
    }
    else
    {
        <h2>SendAllMaill </h2><h3>Fail</h3>
    }
}

