<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.14.0" targetFramework="net461" />
  <package id="Coypu.NUnit" version="1.4.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="netDumbster" version="2.0.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="2.6.3" targetFramework="net461" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.3.0" targetFramework="net461" />
  <package id="SpecRun.Runner" version="1.7.0" targetFramework="net461" />
  <package id="SpecRun.SpecFlow" version="1.7.0" targetFramework="net461" />
  <package id="SpecRun.SpecFlow.2-3-0" version="1.7.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>